<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
</head>
<body>
<h1>This is My Amazon!</h1>
<h2>Welcome User!</h2>

 <form action="/login" method="POST">
  Username:<br>
  <!--<input type="text" name="username" value="Mickey"><br> -->
  <input type="text" name="username" placeholder="username..." ><br>
  Password:<br>
  <input type="password" name="password" placeholder="password..."><br><br>
  <input type="submit" value="Submit">
</form> 

<p>to know more about this website, <a href="/about">click here</a></p>
</body>
</html>